.input-group {
    position: relative;
    margin-bottom: 16px;
}

.input-group input {
    width: 100%;
    padding: 16px;
    background: #333;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
}

.password-group {
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 16px;
    cursor: pointer;
    color: #fff;
}
