body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.Texto {
    margin: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: black; /* Adicionando cor de texto para manter a legibilidade */
}

.Vou {
    color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
}

.Desde {
    margin: 20px;
    padding: 10px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button#Enviar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
}

button#Enviar:hover {
    background-color: #45a049;
}

button#Enviar:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* O container da resposta está oculto e fora da área visível */
#responseContainer {
    position: absolute;
    top: -9999px;
}
